#product-view-main-container {
  max-height: 100vh;
  overflow-y: auto;
  padding: 0.1% 0 20% 0;
}

#product-view-swiper {
    width: 100%;
    height: 100%;
}

#view-swiper {
    margin-bottom: 5%;
}

#product-view-inside-content {
    margin-bottom: 10%;
    width: 100%;
    padding: 0 4% 0 3%;
}

#product-view-swiper img {
    z-index: -99999999;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

#mostSeen-bestseller-swiper {
    width: 55%;
    height: 20vh;
    background-size: contain;
    margin: 0 auto;
}

#mostSeen-bestseller-swiper > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#product-view-about-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#product-view-flex-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

#product-view-opisaniya-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#product-view-bottom-connect-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#product-view-bottom-connect-content a {
    font-size: 14px;
    /* text-decoration: underline; */
    border-bottom: 1px solid #514A7E;
    padding-bottom: 1%;
}

#product-veiw-buy-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#product-veiw-buy-content>:nth-child(1) {
    padding: 3.5% 5%;
}

#product-veiw-buy-content button {
    background-color: #514A7E;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem ;
    color: white;
    border: none;
    outline: none;
    padding: 2% 5%;
}